.message
{
    border: none;
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
    opacity: 0;
    animation: heightAnim 0.2s ease-in forwards, appear 0.3s ease-out 0.3s forwards;
    word-break: break-all;
}
@keyframes heightAnim {
    from
    {
        max-height: 0;
        margin: 0;
        padding: 0;
    }
    to
    {
        padding: 8px;
        margin: 4px;
        max-height: 9999px;
    }
}
@keyframes appear {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
.urlMessage
{
    background-color: rgb(182, 235, 182);
    color: rgb(58, 58, 196);
    cursor: pointer;
    transition: all 0.1s ease-out;
}
.urlMessage:hover
{
    transform: scale(1.05);
    box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
}
.textMessage
{
    background-color: rgb(182, 219, 241);
    background-color: #f2f3f5;
    border-color: rgb(105, 157, 187);
}